[Unit]
Description=frontend service
[Service]
Type=simple
Environment=AUTH_API_ADDRESS=http://login.zsdevtraining.online:8080
Environment=TODOS_API_ADDRESS=http://todo.zsdevtraining.online:8080
Restart=on-failure
WorkingDirectory=/var/www/html/frontend
ExecStart=npm start
Restart=on-failure
SyslogIdentifier=frontend
[Install]
WantedBy=multi-user.target


